# Change these secrets for production use!
#
# Recommended is one of the CodeIgniter Encryption Keys on
# http://randomkeygen.com
SESSION_SECRET=superSecretSessionKey
GUEST_SECRET=superSecretSessionKey
